.gameContainer{
    width: 100%;

}

.roomContainer{
    align-content: center;
    align-items: center;
}

.searchBar{
    width: 35%;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(237, 237, 237);
    display: flex;
    border-radius: 15px;
    color: black;
}

.pagesNav{
    background-color: aquamarine;
    color: red;
}

.connectionContainer{
    padding: 50px;
    text-align: center;
    text-shadow: 5px;
    font-family: "Times New Roman", Times, serif;
}