.gameContainer{
    width: 100%;

}

.searchBar{
    width: 35%;
    background-color: rgb(237, 237, 237);
    padding: 5px;
    margin-bottom: 10px;
    border: 2px solid rgb(237, 237, 237);
    display: flex;
    border-radius: 15px;
    color: black;
}

.pagesNav{
    background-color: aquamarine;
    color: red;
}