
.room{
    background-color: rgb(46, 206, 206);
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 150px;
    margin-bottom: 10px;
    }
  
  .room-colelction{
    display: grid;
  
  }