
.room{
  background-color: rgb(122, 10, 14);
  font-size: large;
  font-weight: 200;
  border-radius: 5px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 150px;
  text-align: center;
  text-shadow: 5px;
  font-family: "Times New Roman", Times, serif;
}
  
.roomcollection{
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 10px;
}